<div class="content pt-4 pb-5">

  <i class="mdi mdi-periodic-table mdi-bg inverse"></i>

  <div class="row my-5 py-3 mx-auto">

    <div class="col-12 mb" data-aos="fade-down">
      <h4 class="mb-0 text-inherit">{{text.headerSup}}</h4>
      <h1 class="mt-0 mb-4" [innerHTML]="text.header"></h1>
    </div>

    <div class="col-12 mb-4" data-aos="fade-left">
      <p [innerHTML]="text.text">
      </p>
    </div>

    <div class="col-12 pt-5 contact-sent" *ngIf="sent">
      {{text.success}}
    </div>

    <div class="col-12 contact-form" *ngIf="!sent"  data-aos="fade-right">

      <div class="error-msg" *ngIf="errorMsg" [innerHTML]="errorMsg">
      </div>

      <div class="form__group">
        <input type="text" id="name" class="form__field" placeholder="Name" [(ngModel)]="name">
        <label for="name" class="form__label">Name</label>
      </div>

      <div class="form__group">
        <input type="email" id="email" class="form__field" placeholder="Email" [(ngModel)]="email">
        <label for="email" class="form__label">Email</label>
      </div>

      <div class="form__group">
        <textarea id="message" class="form__field" placeholder="{{text.field3}}" rows="6"
                  [(ngModel)]="message"></textarea>
        <label for="message" class="form__label">{{text.field3}}</label>
      </div>

      <div class="form__group mt-0">
        <label class="pure-material-checkbox">
          <input type="checkbox" [(ngModel)]="agreed">
          <span>{{text.checkbox}} <a (click)="openPrivacyModal($event)">{{text.privacy}}</a></span>
        </label>
      </div>
    </div>

    <div class="col-12 mt-2 text-right" data-aos="fade-up" *ngIf="!sent">
      <div class="link my-3" (click)="submit()">
        <i class="mdi mdi-send"></i>
        {{text.button}}
      </div>
    </div>

  </div>
</div>
