@import "../../../styles/colors";


.content {

  .mdi-bg {
    bottom: auto;
    top: -50vh;
    right: auto;
    left: -5vh;
    transform: rotate(180deg);
  }

  .contact-sent {
    min-height: 339px;
    text-align: center;
  }

  .contact-form {

    .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
    }

    .error-msg {
      color: red;
    }

    .form__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 1px solid $lightgrey;
      outline: 0;
      font-size: 12px;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
      resize: vertical;
      color:#fff;
     }

    .form__field::placeholder {
      color: transparent;
    }

    .form__field:placeholder-shown~.form__label {
      font-size: 12px;
      cursor: text;
      top: 20px;
    }

    label,
    .form__field:focus~.form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 10px;
    }

    .form__field:focus~.form__label {
      color: $lightblue;
    }

    .form__field:focus {
      padding-bottom: 6px;
      border-bottom: 2px solid $lightblue;
    }
  }

}
