@import "../../../styles/colors";

.content {
  background: $darkblue;
  color: $lightgrey;

  img {
    filter:brightness(0.8);
    width: 124px;
    max-width: 100%;
    border-radius: 3px;
  }

  i {
    transition: all .15s linear;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
}