<div class="content  pb-5">

  <i class="mdi mdi-periodic-table mdi-bg"></i>

  <div class="row pb-3 mx-auto about-inner">
    <!--
    <div class="col-12">
      <h5 class="mb-2 text-inherit">Tech Stack</h5>
      <h2 class="mt-0 mb-3 mr-2">
        Skills Overview
      </h2>
    </div>

    <div class="mx-3 border-top my-2 w-100"></div>

    <div class="col-md-12 mb-4">
      <p class="">
        I have more than 8 years' experience building rich web applications for clients all over the world. Below is a
        quick overview of my main technical skill sets and tools I use. Want to find out more about my experience? Check
        out my online resume.
      </p>
    </div>
    -->

    <div class="col-12 skill-container">
      <div class="row mb-5">
        <div *ngFor="let col of skills" class="col-6 col-sm-4 mb-5 skill-col">
          <div class="skill-col-inner h-100">
            <div class="skill-col-header text-center pb-2">
              <i class="mdi {{col.icon}} skill-col-icon"></i>
              <h4>
                {{col.title}}
              </h4>
            </div>
            <div class="skill-col-list">
              <div *ngFor="let item of col.items">
                <i class="mdi mdi-check lightblue mr-3 font-weight-bold"></i>
                <span>{{item}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
