<div class="content pt-5 pb-5">
    <div class="row mt-5 py-3 mx-auto about-inner">
        <div class="col-12">
            <h6 class="mb-0">Hi, my name is Daniel Elport</h6>
            <h2 class="mt-0 mb-3">I build things for the web.</h2>
        </div>
        <div class="col-md-9 mb-4">
            <p>
                Hi, my name is Daniel Elport and I conceptualize, develop and maintain all kinds of projects for the
                web,
                ranging from simple homepages to complex applications.<br />After graduating from university with a
                major in cognitive psychologyI realized that programming is my passion and became a developer.
                Currently my focus is on frontend development using frameworks like Angular or Vue.js.
            </p>
            <div class="d-inline mr-2">
                <i class="mdi mdi-github-circle"></i>
                Fork me
                <div class="d-inline">
                    <i class="mdi mdi-linkedin-box"></i>
                    Full resume
                </div>


            </div>

        </div>
        <div class="col-md-3 text-center text-md-right">
            <img src="../../../assets/img/me.png">
        </div>

    </div>