<div class="content pt-5 pb-5">

  <i class="mdi mdi-periodic-table mdi-bg"></i>


  <div class="row mt-5 py-3 mx-auto about-inner">
    <div class="col-12">
      <h5 class="mb-2 text-inherit">Hello World</h5>
    </div>
    <div class="col-sm-9">
      <h1 class="mt-0 mb-3 mr-2">
        I create&nbsp;
        <br class="d-sm-none" />
        <div class="animated-words">
          <span>applications</span>
          <span>sites</span>
          <span>components</span>
        </div>
        <br />
        for the web.
      </h1>
    </div>

    <div class="col-sm-3">
      <div class="face float-left float-sm-right"></div>
    </div>

    <div class="mx-3 border-top my-3 w-100"></div>

    <div class="col-md-12 mb-4">
      <p class="">
        Hi, my name is Daniel Elport, I'm a frontend engineer based in Germany who enjoys building (and occasionally designing) exceptional,
        high-quality websites and applications.
        Fork me on
        <a href="https://github.com/DanielElport?tab=repositories" target="_blank">GitHub</a>
        or see my full resume at
        <a href="https://www.linkedin.com/in/daniel-elport-a86b93123/" target="_blank">LinkedIn.</a>

      </p>
    </div>

    <div class="col-12">
      <div class="row mt-3 mb-5  ">

        <div *ngFor="let col of skills" class="col-6 col-sm-4 mb-3 skill-col">
          <i class="mdi {{col.icon}}"></i>
          <h4>
            {{col.title}}
          </h4>

          <div *ngFor="let item of col.items">
            <span>{{item}}</span>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
