@import "../../../styles/colors";

.content {

  h1{
    color:#fff;
  }

  .skill-container{
    margin-top: -25px;
  }

  .skill-col {
    font-size: 13px;

    &-inner{
      background: $darkblue;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    &-header{
      background: #171b26;
    }
    &-icon {
      color: #fff;
      font-size: 86px;
    }

    &-list{
      margin: 20px auto;
      width: auto;
      display: table;
    }

    h4 {
      margin-top: -15px;
      margin-bottom: 10px;
    }
  }

  .face {
    filter:brightness(0.8);
    width: 100px;
    max-width: 100%;
    border-radius: 3px;
    background: url(../../../assets/img/me.png) no-repeat center center;
    background-size: contain;
    height: 100px;
  }
}
