<footer class="text-center">

  <div class="col-12 pt-4 pb-2">

    <div class="btn mr-2 text-large">
      <a href="https://github.com/DanielElport?tab=repositories" target="_blank"><i
        class="mdi mdi-github-circle"></i></a>
    </div>

    <div class="btn text-large">
      <a href="https://www.linkedin.com/in/daniel-elport-a86b93123/" target="_blank"><i
        class="mdi mdi-linkedin-box"></i></a>
    </div>
  </div>

  <div class="col-12  pb-4">
    Daniel Elport <span class="lightblue">&copy;2020</span>
  </div>

</footer>
