<footer class="text-center">

  <div class="col-12 pt-4 pb-2">


    <div class="btn m-1 text-large">
      <a href="https://codepen.io/codesmart1/full/PowadJY" target="_blank"><i
        class="mdi mdi-codepen"></i></a>
    </div>

    <div class="btn m-1 text-large">
      <a href="https://github.com/DanielElport?tab=repositories" target="_blank"><i
        class="mdi mdi-github-circle"></i></a>
    </div>

    <div class="btn m-1 text-large">
      <a href="https://www.linkedin.com/in/daniel-elport-a86b93123/" target="_blank"><i
        class="mdi mdi-linkedin-box"></i></a>
    </div>


  </div>

  <div class="col-12  pb-4">
    Daniel Elport <span class="lightblue">&copy;2020</span>
  </div>

</footer>
