@import "../../../styles/colors";

.image{
  background: $darkblue;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .footnote{
    position: absolute;
    top: 2em;
    color: #eee;
    width: 100%;
    font-weight: bold;
  }

  .overlay{
    height: 100%;
    /*background: url(https://i.gifer.com/757H.gif);*/
    opacity: 0.15;
  }
}



