<footer>
  <i class="mdi mdi-chevron-double-up page-link button red p-0" dest="home"></i>

  <div class="icon-wrap flex row">
    <a href="http://www.linkedin.com/shareArticle?url=code-smart.com&title=code-smart.com&summary=code-smart.com&source=code-smart.com">
      <div class="flex icon" id="icon-2">
        <i class="mdi mdi-linkedin"></i>
      </div>
    </a>
    <a href="http://www.facebook.com/sharer/sharer.php?u=code-smart.com">
      <div class="flex icon" id="icon-3">
        <i class="mdi mdi-facebook"></i>
      </div>
    </a>
    <a href="http://twitter.com/share?url=code-smart.com&text=code-smart.com">
      <div class="flex icon" id="icon-4">
        <i class="mdi mdi-twitter"></i>
      </div>
    </a>
    <a href="http://reddit.com/submit?url=code-smart.com&title=code-smart.com">
      <div class="flex icon" id="icon-5">
        <i class="mdi mdi-reddit"></i>
      </div>
    </a>
  </div>
  <div class="info-box">
    <div class="footnote">Daniel Elport <span class="highlight">&copy;2018</span></div>
  </div>
</footer>
