@import "../../../styles/colors";

.header {
  background: url(../../../assets/img/header-bg.jpg);
  background-position: 50% 66%;
  background-blend-mode: overlay;
  background-size: cover;
}

.content {
  padding: 100px 15px !important;

  .profile-image {
    max-width: 100%;
    background: url(../../../assets/img/me.png) no-repeat center center;
    background-size: contain;
    max-height: 150px;
    filter: brightness(0.8);
    border-radius: 3px;
    @media screen and (max-width: 768px) {
      max-height: 127px;
    }
  }


  .animated-words {
    display: inline;

    span {
      position: absolute;
      opacity: 0;
      overflow: hidden;
      color: $lightblue;
      animation: animateWord 9s ease-out infinite 0s;

      &:nth-child(2) {
        animation-delay: 3s;
      }

      &:nth-child(3) {
        animation-delay: 6s;
      }
    }
  }

  @keyframes animateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    27% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    30% {
      opacity: 0;
      -webkit-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
