<div class="header">
  <div class="content col-12 mt-3">
    <div class="profile-teaser media flex-column flex-md-row pt-md-5 mt-md-5 mb-5">

      <img class="profile-image mr-5 d-none d-md-block" src="me.png">
      <div>

        <h4 class="mb-2 text-inherit">{{text.headerSup}}</h4>
        <h1 class="mt-0 mb-3 mr-2">
          {{text.headerStart}}&nbsp;
          <br class="d-sm-none"/>
          <div class="animated-words">
            <span>{{text.word1}}</span>
            <span>{{text.word2}}</span>
            <span>{{text.word3}}</span>
          </div>
          <br/>
          {{text.headerEnd}}
        </h1>

        <img class="profile-image mb-4 d-md-none" src="me.png">

        <div class="border-top my-3 w-75"></div>

        <p class="mb-md-3" [innerHTML]="text.text">

        </p>

        <a class="link my-3 d-inline-block" href="https://code-smart.com/content/cv.pdf" target="_blank">
          <i class="mdi mdi-launch"></i>
          {{text.link1}}
        </a>

      </div>
    </div>
  </div>

</div>


