<div class="background">
  <div class="background-overlay">
  </div>

  <div class="content col-12 mt-3">
    <div class="profile-teaser media flex-column flex-md-row pt-md-5 mt-md-5 mb-5">

      <img class="profile-image mb-4 mb-md-0 mr-md-5 ml-md-0 rounded d-none d-md-block" src="me.png">
      <div>

        <h5 class="mb-2 text-inherit">About Me</h5>
        <h1 class="mt-0 mb-3 mr-2">
          I create&nbsp;
          <br class="d-sm-none"/>
          <div class="animated-words">
            <span>applications</span>
            <span>sites</span>
            <span>components</span>
          </div>
          <br/>
          for the web.
        </h1>

        <img class="profile-image mb-4 mb-md-0 mr-md-5 ml-md-0 rounded d-md-none" src="me.png">

        <div class="border-top my-3 w-100"></div>

        <p class="mb-md-3">
          Hi, my name is Daniel Elport, I'm a frontend engineer based in Germany who
          enjoys building (and occasionally designing) exceptional, high-quality websites and applications. Fork me on
          <a _ngcontent-txk-c3="" href="https://github.com/DanielElport?tab=repositories" target="_blank">GitHub</a>
          or see my full resume at <a _ngcontent-txk-c3="" href="https://www.linkedin.com/in/daniel-elport-a86b93123/"
                                      target="_blank">LinkedIn.</a>
        </p>

        <div class="link my-3 d-inline-block">
          <i class="mdi mdi-launch"></i>
          FULL RESUME
        </div>

      </div>
    </div>
  </div>

</div>


