@import "colors";

.btn {
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  word-wrap: unset;
  cursor: pointer;
  border: 0;
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: #3e7ef5;
  background: $blue;
}