$red: #C20056;
$blue: #3e7ef5;
$lightgrey: #afbac7;
$darkblue: #10141f;
$lightblue: #5fa8ff;

#about{
  background: linear-gradient(to bottom, #061624, #3e1025);
  background: linear-gradient(to bottom, #061624, #152e4c);
  color: $lightgrey;
}

#projects{
  background: #152e4c;
  color: $lightgrey;
  padding-bottom: 5rem;
}

.lightblue{
  color: $lightblue;
}

#contact{
  background: linear-gradient(to bottom, #152e4c, #061624);
  color: $lightgrey;
}

h1, h2 , h3, h4, h5, h6{
  color: #fff;
}

.text-inherit{
  color: inherit;
}
