$white: #fff;
$lightgrey: #cacaca;
$darkblue: #060713;
$lightblue: #638EF2;
$page-bg: #25314c;


body{
  background: $page-bg;
  color: $lightgrey;

}

.lightblue{
  color: $lightblue;
}

h1, h2 , h3, h4, h5, h6{
  color: $white;
}

.text-inherit{
  color: inherit;
}

a{
  color: $white;
  transition: .2s ease-out;
  &:hover{
    color: $lightgrey;
    text-decoration: none;
  }

}
