$red: #C20056;
$blue: #3e7ef5;
$lightgrey: #afbac7;
$darkblue: #040814;
$lightblue: #5fa8ff;

#about{
  background: linear-gradient(to bottom, #061624, #3e1025);
  background: linear-gradient(to bottom, #061624, #152e4c);
  color: $lightgrey;
}
