@import "colors";

.modal-dialog {
  width: 100%;
  max-width: 1030px;

  .modal-content {
    border-radius: 2px;
    background: $page-bg;
    border:none;

    .modal-header{
      background: $darkblue;
      border:none;
      .close {
        color:#fff;
        outline: none;
      }
    }
    .modal-body{
      max-height: 70vh;
      overflow-y: scroll;
      border:none;
      p{
        color:$text;
      }
    }

    .modal-footer {
      background: $darkblue;
      border:none;
    }
  }
}
