@import "colors";
.modal-backdrop.show {
  opacity: 0.66;
}
.modal-dialog {
  width: 100%;
  max-width: 1030px;

  @media screen and(max-width: 1000px){
    margin: 0;
  }

  .modal-content {
    border-radius: 2px;
    background: $page-bg;
    border:none;

    .modal-header{
      background: $darkblue;
      border:none;
      .close {
        color:#fff;
        outline: none;
      }
    }
    .modal-body{

      h1, h2, h3, h4, h5, h6{
        text-transform: capitalize;
      }


      max-height: 70vh;
      overflow-y: auto;
      border:none;
      p{
        color:$text;
      }
    }

    .modal-footer {
      background: $darkblue;
      border:none;
    }
  }
}
