<div class="content">

  <div class="col-12 p-5" id="active-item"
       (swipeleft)="selectNext()"
       (swiperight)="selectPrevious()">

    <div class="row">
      <div class="col-12 order-first">
        <h5 class="mb-0 lightblue">Recent Projects</h5>
      </div>
      <div class="col-12 order-first">
        <h2 class="mt-1 mb-0">
          {{activeItem.name}}
        </h2>
      </div>

      <div class="mx-3 border-top my-3 w-100 order-first"></div>

      <div class="col-md-6 mt-4 item-description-container">

        <p class="mb-4 item-description" [innerHTML]="activeItem.description">
        </p>

        <p class="mb-4">
          <span *ngFor="let badge of activeItem.badges">
            <div class="d-inline-block mt-2 mr-2 item-badge">{{badge}}</div>
          </span>
        </p>

        <a class="link my-3" href="{{activeItem.url}}" target="_blank">
          <i class="mdi mdi-launch"></i>
          VISIT PAGE..
        </a>
      </div>

      <div class="col-md-6 mt-4 order-first order-md-last item-image-container">
        <div class="item-image h-100" [style.background-image]="'url(./assets/img/projects/'+ activeItem.img + ')'">
        </div>
      </div>
    </div>

    <div class="d-block">
      <div class="rightRs mr-2" (click)="selectNext()">
        <i class="mdi mdi-chevron-right"></i>
      </div>
      <div class="leftRs ml-2" (click)="selectPrevious()">
        <i class="mdi mdi-chevron-left"></i>
      </div>
    </div>
  </div>

  <div class="col-12 px-2 py-5 d-none d-md-block item-carousel">

    <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="items">

      <div *nguCarouselDef="let item;let i = index" class="item col-6 col-md-4 p-0" (click)="selectItem(i)">

        <div class="row">
          <div class="col-3 pr-0">

            <div class="image" [ngClass]="isActive(i)"
                 [style.background-image]="'url(./assets/img/projects/' + item.thumb + ')'"></div>
          </div>
          <div class="col-9">
            <h5 class="col-12 pb-0 px-0 mb-1 mt-2 title">{{item.name}}</h5>
            <p class="text pr-3">{{item.description}}</p>
          </div>
        </div>

      </div>

        <div NguCarouselNext class="rightRs">
          <i class="mdi mdi-chevron-right"></i>
        </div>
        <div NguCarouselPrev class="leftRs">
          <i class="mdi mdi-chevron-left"></i>
        </div>

    </ngu-carousel>
  </div>
</div>
