@import "../../../styles/colors";

@font-face {
  font-family: 'Indelible';
  src: url(../../../assets/fonts/Indelible.otf);
  src: url(../../../assets/fonts/Indelible.woff);
}

.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 102vh;
}

@-moz-document url-prefix() {
  .twinkling {
    display: none;
  }
}

.landing-container {
  background: #000 url(../../../assets/img/stars.png) repeat top center;
  background-size: cover;
  overflow: hidden;

  .twinkling {
    background: transparent url(../../../assets/img/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 300s linear infinite;
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  .overlay {
    display: block;
    background: linear-gradient(to top, #0000002b 25%, #bd1d93 25%, #61348e);
    opacity: .4;
    z-index: 3;
  }

  .sun {
    background: linear-gradient(to bottom, #FFFF05 0%, #FF4700 50%);
    border-radius: 50%;
    box-shadow: 0 0 26px 20px rgba(255, 255, 5, 0.5);
    position: absolute;
    z-index: 1;
    height: 36vw;
    width: 36vw;
    left: calc(50% - 18vw);
    top: calc(75% - 36vw);

    @media (min-width: 1440px) {
      height: 520px;
      width: 520px;
      left: calc(50% - 260px);
      top: calc(75% - 520px);
    }

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: repeating-linear-gradient(transparent, transparent 2%, #000 2%, #000 4%);
      opacity: 0.1;
      border-radius: 50%;
    }
  }

  .horizon {
    width: 100%;
    height: 20vw;
    background: transparent url(../../../assets/img/horizon.png) repeat-x bottom center;
    background-size: contain;
    position: absolute;
    bottom: 25%;
    z-index: 3;
    max-height: 260px;
  }

  .glow {
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 4;
    box-shadow: 0 0 7vh -1vh #3e7ef5;
    background: linear-gradient(to bottom, transparent 80%, #061624);
  }

  .ground {
    position: absolute;
    width: 100%;
    height: 25%;
    background: black;
    bottom: 0;
    z-index: 1;
  }

  .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 8%;
    z-index: 13;
    animation-delay: 0.5s;

    @media (max-width: 768px) {
      transform: scale(0.7);
      top: 5%;
    }

    @media (min-width: 1921px) {
      transform: scale(1.2);
      top: 16%;
    }

    h1 {
      color: #c6cbf5;
      font-family: 'Orbitron', sans-serif;
      font-size: 125px;
      font-weight: 900;
      font-style: italic;
      line-height: 1.2;
      left: 50%;
      margin: 0 0 0 -205px;
      position: absolute;
      text-transform: uppercase;
      top: 36px;
      width: 410px;
      z-index: 11;
      user-select: none;

      .chrome80s {
        background-image: -webkit-linear-gradient(#010012 25%, #4694c9 45%, #fdf9f7 60%, #010923 69%, #e65555 80%, #ffffff 90%, #0e0500 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0.05rem;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
        width: 110%;

        &:before {
          content: attr(data-text);
          filter: url(#bevel);
          background: -webkit-linear-gradient(#58bee4 30%, #204a68 60%, #62a7d1 80%) 0% 0% repeat;
          -webkit-background-clip: text;
          position: absolute;
          z-index: -1;
          width: 110%;
        }

        &:after {
          content: attr(data-text);
          position: absolute;
          text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
          transform: translate(-100%);
          z-index: -2;
        }
      }
    }

    h2 {
      color: #cc0000;
      display: block;
      width: 100%;
      position: absolute;
      text-align: center;
      z-index: 11;
      font-family: "Indelible", cursive;
      font-size: 100px;
      transform: skew(-5deg) rotate(-10deg);
      text-decoration: none;
      font-weight: 600;
      top: 148px;
      user-select: none;

      @media (min-width: 768px) and (min-height: 768px) {
        color: rgba(#cc0000, 0.7);
        background: #cc0000 -webkit-gradient(linear, left top, right top, from(#cc0000), to(#cc0000), color-stop(0.5, #fff)) 0 0 no-repeat;
        -webkit-background-size: 300px;
        -webkit-background-clip: text;
        -webkit-animation-name: shine;
        -webkit-animation-duration: 4.5s;
        -webkit-animation-iteration-count: infinite;
      }

      .chrome80s {
        font-family: 'Commando', sans-serif;
        font-size: 8rem;
        font-weight: 100;
        position: relative;
        white-space: nowrap;

        background-image: linear-gradient(#010012 20%, #4694c9 40%, #fdf9f7 50%, #010923 50%, #d7674f 60%, #ffc2a4 70%, #edb18c 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0.1rem;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);

        &:before {
          content: attr(data-text);
          filter: url(#bevel);
          background: linear-gradient(#ffffff 20%, #58bee4 30%, #204a68 50%, #62a7d1 70%, #ffffff 80%) 0% 0% repeat;
          -webkit-background-clip: text;
          position: absolute;
          z-index: -1;
        }

        &:after {
          content: attr(data-text);
          position: absolute;
          text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
          transform: translate(-100%);
          z-index: -2;
        }
      }
    }

    @-webkit-keyframes shine {
      0% {
        background-position: -200px;
      }

      100% {
        background-position: 150% 0%;
      }
    }

    .logo-triangle {
      animation: dash 6s linear forwards;
      animation-delay: 3s;
      fill: url(#grad1);
      filter: url(#dropshadow);
      left: 50%;
      margin-left: -200px;
      position: relative;
      stroke-dasharray: 1200;
      stroke-dashoffset: 1200;
      top: 48px;
      z-index: 8;
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  .midnightGrid {
    position: absolute;
    z-index: 2;
    top: 75%;
    width: 100%;
    height: 100%;
    transform-origin: 50% 0%;
    transform: perspective(40vh) rotateX(77deg);
    overflow-y: hidden;

    &:after {
      content: "";
      background: linear-gradient(to top, rgba(0, 50, 100, 0.15) 60%, rgba(28, 126, 224, 0.35) 90%);
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 9;
    }

    .gridInner {
      animation: animatedGrid 30s linear infinite;

      .grid-x,
      .grid-y {
        width: 100vh;
        height: 100vh;
        position: absolute;
        bottom: 0;
        left: 0;
        background: repeating-linear-gradient(to top, rgba($blue, 0), rgba($blue, 0), rgba($blue, 0) 2vw, rgba($blue, 1) 2vw, rgba($blue, 1) 2.16vw);

        @media screen and (orientation:landscape) {
          width: 100vw;
          height: 100vw;
        }

        @media screen and (max-width: 512px) {
          background: repeating-linear-gradient(to top, rgba($blue, 0), rgba($blue, 0), rgba($blue, 0) 2vh, rgba($blue, 1) 2vh, rgba($blue, 1) 2.16vh);
        }
      }

      &-2 {

        .grid-x,
        .grid-y {
          bottom: -3px;
          left: -4px;
          background: repeating-linear-gradient(to top, rgba($blue, 0), rgba($blue, 0) 2vw, rgba($blue, 0.2) 2vw, rgba($blue, 0.4) 2.16vw);

          @media screen and (max-width: 512px) {
            background: repeating-linear-gradient(to top, rgba($blue, 0), rgba($blue, 0) 2vh, rgba($blue, 0.2) 2vh, rgba($blue, 0.4) 2.16vh);
          }
        }
      }

      .grid-y {
        transform: rotate(90deg);
      }
    }
  }

  @keyframes animatedGrid {
    from {
      transform: translateY(50vh)
    }
    to {
      transform: translateY(100vh)
    }
  }
}
