<div class="jumbotron mb-0 text-center">
  <div class="overlay h-100 w-100"></div>
  <div class="content">
    <h1>
      <div class="self-building-square-spinner">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
      <br/>
      Code <span class="lightblue">Smart</span></h1>
  </div>
</div>
