@import "../../../styles/colors";

@font-face {
  font-family: 'Indelible';
  src: url(../../../assets/fonts/Indelible.otf);
}

.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-container {

  background: $darkblue url(../../../assets/img/stars.png) repeat top center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;

  .bg-overlay {

    display: block;
    background: linear-gradient(to top, #0d171f, #6c5b7b, #c06c84);
    opacity: 0.25;
    z-index: 3;
  }

  .sun {
    background: linear-gradient(to bottom, #FFFF05 0%, #FF4700 50%);
    border-radius: 50%;
    box-shadow: 0 0 26px 20px rgba(255, 255, 5, 0.5);
    position: absolute;
    z-index: 1;
    height: 36vw;
    width: 36vw;
    left: calc(50% - 18vw);
    top: calc(75% - 36vw);

    @media (min-width: 1440px) {
      height: 520px;
      width: 520px;
      left: calc(50% - 260px);
      top: calc(75% - 520px);
    }

  }

  .stripes {
    background: repeating-linear-gradient(transparent, transparent 2%, #000 2%, #000 4%);
    opacity: 0.1;
  }


  .twinkling {
    background: transparent url(../../../assets/img/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 300s linear infinite;
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  .horizon{
    width: 100%;
    height: 20vw;
    background: transparent url(../../../assets/img/horizon.png) repeat-x bottom center;
    background-size: contain;
    position: absolute;
    bottom: 25%;
    z-index: 3;
    max-height: 300px;
  }

  .glow{
    height: 6%;
    width: 100%;
    position: absolute;
    bottom: 25%;
    z-index: 4;
    background: linear-gradient(to top, rgba($blue, 0.6) 0%, transparent 100%);


  }

  .floor {
    position: absolute;
    width: 100%;
    height: 25%;
    background: black;
    bottom: 0;
    z-index: 1;
  }


  .logo {

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 8%;
    z-index: 13;

    @media (max-width: 768px) {
      transform: scale(0.7);
      top: 5%;
    }

    @media (min-width: 1640px) {
      transform: scale(1.4);
      top: 16%;
    }

    h1 {
      color: #c6cbf5;
      font-family: 'Orbitron', sans-serif;
      font-size: 125px;
      font-weight: 900;
      line-height: 1.2;
      left: 50%;
      margin: 0 0 0 -200px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 10px;
      width: 410px;
      z-index: 11;
      background: -webkit-linear-gradient(top, #151c60, #c6cbf5 40%, #000 40%, #e1a0ce 65%, white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
    }

    h2 {

      color: #d10091;
      display: block;
      width: 100%;
      position: absolute;
      text-align: center;
      z-index: 11;

      font-family: 'Yellowtail', cursive;
      font-size: 150px;
      text-shadow: 0 0 1px #C20056, 0 -3px 3px rgba(255, 255, 255, 0.8), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 5px #d100b1, 0 0 15px rgba(209, 0, 17, 0.8);
      text-decoration: underline;
      transform: skew(-10deg) rotate(-10deg);
      width: 100%;
      top: -24px;
      left:0;


      font-family: "Indelible", cursive;
      font-size: 120px;
      text-shadow: 0 1px 1px white;
      transform: skew(-5deg) rotate(-10deg);
      text-decoration: none;
      top: 27px;
      left: -15px;

      /* Edge bugfix */
      @supports (-ms-ime-align:auto) {
        text-shadow: none;
      }

    }


    .logo-triangle {
      animation: dash 6s linear forwards;
      fill: url(#grad1);
      filter: url(#dropshadow);
      left: 50%;
      margin-left: -200px;
      position: relative;
      stroke-dasharray: 1200;
      stroke-dashoffset: 1200;
      top: 6em;
      z-index: 8;
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }

  }

  .buttons {
    text-align: center;
    z-index: 22;
    padding-top: 10%;

    .button {
      width: 8em;
      text-decoration: none;
      text-align: left;

      .mdi {
        transition: transform .3s;
        position: absolute;
        right: 12px;
        top: 12px;
      }

      &:hover {
        .mdi {
          transform: rotate(90deg);
        }
      }
    }

  }


  /*the grid*/
  .midnightGrid {
    position: absolute;
    z-index: 2;
    top: 75%;
    width: 100%;
    height: 100%;
    transform-origin: 50% 0%;
    box-shadow: 0px 1px 200px $blue;
    transform: perspective(40vh) rotateX(77deg);

    &:after {
      content: "";
      background: linear-gradient(to top, rgba(0, 50, 100, 0.15) 60%, rgba(28, 126, 224, 0.35) 90%);
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 9;
    }


    .gridInner {
      animation: animatedGrid 30s linear infinite;

      .grid-x, .grid-y {
        width: 100vw;
        height: 100vw;
        position: absolute;
        bottom: 0;
        left: 0;
        background: repeating-linear-gradient(
            to top,
            rgba($blue, 0),
            rgba($blue, 0),
            rgba($blue, 0) 2vw,
            rgba($blue, 1) 2vw,
            rgba($blue, 1) 2.16vw
        );
      }

      .grid-y {
        transform: rotate(90deg);
      }
    }

    .gridInner-2 {
      .grid-x, .grid-y {
        bottom: -3px;
        left: -4px;
        background: repeating-linear-gradient(
            to top,
            rgba($blue, 0),
            rgba($blue, 0) 2vw,
            rgba($blue, 0.2) 2vw,
            rgba($blue, 0.4) 2.16vw
        );
      }
    }
  }


  @keyframes animatedGrid {
    from {
      transform: translateY(50vh)
    }
    to {
      transform: translateY(100vh)
    }
  }

}





