<div class="content">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 mb-5 py-md-4 text-center">

    <h1>
      <div class="mb-3">
        <i class="mdi mdi-monitor-cellphone-star"></i>
      </div>
      {{text.headline}}
    </h1>
    <div class="border-top my-3 w-25 mx-auto"></div>
    <p class="font-italic" [innerHTML]="text.text">
    </p>

    <a class="link my-3 d-inline-block" href="https://codepen.io/codesmart1/full/PowadJY" target="_blank">
      <i class="mdi mdi-launch"></i>
      {{text.link1}}
    </a>
    <a class="link ml-3 my-3 d-inline-block" href="https://github.com/DanielElport?tab=repositories" target="_blank">
      <i class="mdi mdi-launch"></i>
      {{text.link2}}
    </a>
  </div>
  <i class="mdi mdi-periodic-table mdi-bg"></i>

</div>
