<div class="content py-4">

  <div class="row my-5 py-3 mx-auto">

    <div class="col-12">
      <h6 class="mb-0">What i have to offer</h6>
      <h2 class="mt-0 mb-4">Skills</h2>
    </div>

    <div class="col-sm-3 mb-3">

      <h5>Languages</h5>
      JavaScript<br/>
      TypeScript<br/>
      HTML/(S)CSS<br/>
      Java<br/>
      PHP<br/>
      R<br/>

    </div>

    <div class="col-sm-3 mb-3">

      <h5>Tools</h5>
      Git/SVN<br/>
      npm<br/>
      gulp<br/>
      Jenkins<br/>
      gradle<br/>
      Docker<br/>
      nginx<br/>
      AWS<br/>

    </div>

    <div class="col-sm-3 mb-3">

      <h5>Frameworks</h5>
      Angular<br/>
      React<br/>
      Bootstrap<br/>
      nodeJS<br/>
      jQuery<br/>
      Spring<br/>
    </div>

    <div class="col-sm-3 mb-3">

      <h5>CMS</h5>      
      Drupal<br/>
      Typo3<br/>
      WordPress<br/>
    </div>


  </div>
</div>
