<div class="content">

  <div class="row mx-auto about-inner">

    <div class="col-12 skill-container">
      <div class="row mb-5">
        <div *ngFor="let col of skills; let i = index" class="col-6 col-sm-4  mb-5 skill-col">
          <div class="skill-col-inner h-100 boxed">
            <div class="skill-col-header text-center pb-2">
              <i class="mdi {{col.icon}} skill-col-icon"></i>
              <h4>
                {{col.title}}
              </h4>
            </div>
            <div class="skill-col-list">
              <div *ngFor="let item of col.items">
                <i class="mdi mdi-check lightblue mr-3 font-weight-bold"></i>
                <span>{{item}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
