<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 0 L50 100 L100 0 Z" fill="#111520" stroke="#111520"></path>
</svg>

<div class="skills-container py-4">

  <div class="row my-5 py-3 mx-auto skills-inner">

    <div class="col-12">
      <h4 class="mb-0">What i have to offer</h4>
      <h2 class="mt-0 mb-4">Skills</h2>
    </div>


    <div class="col-sm-3 skill-column">

      <h3>Languages</h3>
      JavaScript<br/>
      TypeScript<br/>
      HTML/(S)CSS<br/>
      Java<br/>
      PHP<br/>
      R<br/>

    </div>

    <div class="col-sm-3 skill-column">

      <h3>Tools</h3>
      Git/SVN<br/>
      npm<br/>
      gulp<br/>
      Selenium<br/>
      Apache tomcat<br/>
      nginx<br/>
      AWS<br/>

    </div>

    <div class="col-sm-3 skill-column">

      <h3>Frameworks</h3>
      Angular<br/>
      React<br/>
      d3<br/>
      HighCharts<br/>
      Twitter Bootstrap<br/>
      Material Design<br/>
      Vue<br/>
      nodeJS<br/>
      jQuery<br/>
      Spring<br/>
    </div>

    <div class="col-sm-3 skill-column">

      <h3>CMS</h3>
      Drupal<br/>
      Typo3<br/>
      WordPress<br/>
    </div>


  </div>
</div>
