<div class="menu-icon-container position-fixed m-2 px-2" (click)="toggleNav()">
  <i class="mdi mdi-menu"></i>
</div>

<div class="menu-backdrop" (click)="toggleNav()" [ngClass]="{'open': open}">
</div>

<div class="menu h-100 position-fixed boxed" [ngClass]="{'open': open}" (click)="closeDrop()">

  <div class="header p-2 py-1 mb-4">
    <div class="menu-icon-container d-inline px-2" (click)="toggleNav()">
      <i class="mdi mdi-menu"></i>
    </div>
    <div class="menu-title">code | smart</div>
  </div>
  <i class="mdi mdi-periodic-table mdi-bg"></i>

  <ul class="navbar-nav mr-0 ml-auto">
     <li class="nav-item">
      <a class="nav-link" (click)="scrollToElement('#start')">
        <i class="mdi mdi-account-details"></i>
        {{text.menu[0]}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="scrollToElement('#projects')">
        <i class="mdi mdi-image-multiple"></i>
        {{text.menu[1]}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="scrollToElement('#contact')">
        <i class="mdi mdi-email"></i>
        {{text.menu[2]}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="openModal('privacy')">
        <i class="mdi mdi-database-search"></i>
        {{text.menu[3]}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="openModal('legal')">
        <i class="mdi mdi-file-document-box"></i>
        {{text.menu[4]}}
      </a>
    </li>


     <li class="nav-item">
      <div class="nav-link position-relative pt-3" (click)="openDrop()">

        <i class="mdi mdi-voice"></i>

        <div class="dropdown-container pl-1">
          <div class="dropdown-input">
            {{ls.getLanguage()}}
            <i class="mdi mdi-menu-down"></i>
          </div>
          <ul class="dropdown-select w-75" [ngClass]="{'open': dropOpen}">
            <li (click)="setLanguage('en')">English</li>
            <li (click)="setLanguage('de')">Deutsch</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
