@import "../../../styles/colors";

.menu-icon-container {
  font-size: 22px;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: color .15s linear;
  z-index: 2;
  width: 34px;
  height: 34px;

  &:hover {
    color: #fff;
  }
}

.menu-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.66);
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all .2s linear;

  &:not(.open) {
    background: rgba(0, 0, 0, 0.0);
    z-index: -1;
  }
}

$menuwidth: 260px;

.menu {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  top: 0;
  min-width: $menuwidth;
  width: $menuwidth;
  max-width: 100%;
  z-index: 3;
  left: 0;
  transition: all .15s linear;
  background: $page-bg;
  overflow: hidden;
  font-size: 13px;
  text-transform: uppercase;

  &:not(.open) {
    left: -$menuwidth;
  }

  .header {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 34px -12px #000;

    .menu-icon-container {
      background: rgba(0, 0, 0, 0);
    }

    .menu-title {
      font-size: 20px;
      position: absolute;
      right: 75px;
      top: 8px;
      font-family: 'Fjalla One', sans-serif;
      text-transform: uppercase;
    }
  }

  .nav-link {
    color: $text;
    padding: 15px;
    transition: .1s all linear;
    cursor: pointer;

    i {
      margin-right: 25px;
    }

    &:hover {
      color: #fff;
      background: rgba(255, 255, 255, 0.1);
    }
  }


  /* DROPDOWN
   ================================== */

  #input {
    display: inline;
    cursor: pointer;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right top;

    &.open {
      opacity: 0;
    }
  }

  #dropdown-menu {
    box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -1em;
    right: 0;
    left: 0;
    margin: 1em auto;
    padding: 1em 0 1em;
    width: $menuwidth * 0.75;
    list-style: none;
    text-align: left;
    border-radius: 2px;
    background: #fafafa;
    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0);
    transform-origin: right top;
    text-transform: none;

    li {
      position: relative;
      padding: 0 1.8em;
      line-height: 2.35em;
      transform: translate3d(0, -10px, 0);
      opacity: 0;
      cursor: pointer;
      transition: background .1s linear;
      background: rgba(0, 0, 0, 0);
      color: #222222;

      &:hover {
        background: rgba(0, 0, 0, 0.15);
      }
    }

    &.open{
      transform: scale(1);
      li{
        transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}




