@import "../../../styles/colors";

.nav-container {
  position: fixed;
  width: 5em;
  height: 5em;
  background: $blue;
  border-radius: 2.5em;
  top: 4em;
  left: 4em;
  z-index: 4;
  cursor: pointer;
  transition: height .1s linear;
  overflow: hidden;

  @media (max-width: 500px) {
    top: 1em;
    left: 1em;
  }

  &.open {
    height: 24em;
    overflow: visible;
  }

  .row {
    color: #ccc;
    margin: 10px 0 15px 13px;

    i {
      transition: all 0.3s ease;
      font-size: 2.5em;
    }

    div {
      transition: all 0.3s ease;
      margin-top: -25px;
      margin-left: 48px;
      white-space: nowrap;
      font-size: 16px;
    }

    &:hover {
      color: #fff;

      div {
        margin-left: 54px;
      }
    }
  }


  .threebar {
    position: relative;
    height: 3em;
    margin-top: 1.5em;
    margin-left: 1.5em;

    .bar {
      position: absolute;
      width: 2em;
      height: 3px;
      background: #ccc;
      top: 1em;
      transition: all 0.5s ease;

      &:nth-child(1) {
        transform: translateY(-250%);
      }

      &:nth-child(3) {
        transform: translateY(250%);
      }
    }

    &.cross {
      .bar:nth-child(1) {
        transform: rotate(45deg);
      }

      .bar:nth-child(3) {
        transform: rotate(-45deg);
      }

      .bar:nth-child(2) {
        opacity: 0;
      }
    }

    &:hover {
      .bar {
        background: #fff;
      }
    }
  }
}



