<nav class="navbar navbar-expand-md navbar-dark filled" >
  <a class="navbar-brand" href="#">
    <h4 class="my-0">
      <i class="mdi mdi-apps mr-1 logo-icon"></i>
      code smart
    <!--  <span class="lightblue">smart</span>-->
    </h4>
  </a>
  <button class="navbar-toggler" (click)="toggleNav()" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <div class='threebar hamburger' [ngClass]="{'cross': open}">
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
    </div>
  </button>

  <div class="navbar-collapse" [ngClass]="{'collapse': !open}">
    <ul class="navbar-nav mr-0 ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToElement('#start')">{{text[0]}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToElement('#projects')">{{text[1]}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToElement('#contact')">{{text[2]}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openPrivacyModal()">{{text[3]}}</a>
      </li>
    </ul>

  </div>
</nav>
