@import "../../../styles/colors";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  transition: .2s all ease-in;
  padding: 0 1rem;


  &.filled {
    background: $darkblue;

  }

  .navbar-toggler {
    padding: 8px 5px 0;
    font-size: 12px;
    line-height: 1;
    background-color: transparent;
    width: 3.5em;
    outline: none;
    border: none;

  }

  .nav-item {
    transition: .1s color linear;
    cursor: pointer;
    &:hover {
      color: $white;
    }
  }

  .navbar-collapse {
    transition: .2s all ease-in;
    padding-bottom: 10px;
    @media screen and (max-width: 768px) {
      overflow: hidden;
    }
  }

  .navbar-collapse.collapse:not(.show) {
    max-height: 0;
    height: 0;
    padding-bottom: 0;
    display: block;
  }
}

.code {
  margin-top: 3px;
  text-transform: capitalize;
  margin-bottom: 0;
}


.threebar {
  position: relative;
  height: 3em;

  .bar {
    position: absolute;
    width: 2em;
    height: 3px;
    background: $lightgrey;
    top: 1em;
    transition: all 0.5s ease;

    &:nth-child(1) {
      transform: translateY(-250%);
    }

    &:nth-child(3) {
      transform: translateY(250%);
    }
  }

  &.cross {
    .bar:nth-child(1) {
      transform: rotate(45deg);
    }

    .bar:nth-child(3) {
      transform: rotate(-45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }
  }

  &:hover {
    .bar {
      background: $white;
    }
  }
}
