@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "styles/colors";
@import "styles/buttons";
@import "styles/modal";
@import "styles/dropdown";
@import "styles/checkbox";

html, body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding: 0 !important;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .link {
  font-family: 'Fjalla One', sans-serif;
}

.mdi-bg {
  user-select: none;
  position: absolute;
  font-size: 800px;
  left: -60px;
  bottom: -600px;
  opacity: 0.03;
  pointer-events: none;
  filter: blur(4px);

  &.inverse{
    bottom: auto;
    top: -600px;
    right: -60px;
    transform: rotate(180deg);
  }
}


.content {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

a {
  transition: .2s ease-out;

  &:hover {
    text-decoration: none;
  }

}

h1 {
  font-size: 4rem;
  @media screen and (max-width: 992px) {
    font-size: 3.5rem;
  }
}


h2 {
  font-size: 2.8rem;
}

.btn, p {
  font-size: 13px;

  &.text-large {
    font-size: 18px;
  }
}

.boxed {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
