@import "styles/vendor/bootstrap.css";
@import "styles/colors";
@import "styles/buttons";

body {
  font-family: 'Roboto';
  margin: 0px;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


#start{
  height:100vh;
}

.content > div{
  max-width: 900px;
  margin: 0 auto;
}

